
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('aboutbg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    top: 70px;
}

header {
    background-color: rgba(247, 188, 27, 0.925); 
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    opacity: 0.9;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px; 
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#contactSection {
    text-align: center;
}

#contactInfo {
    text-align: left;
}

#contactInfo li {
    margin-bottom: 5px;
}

#mission {
    text-align: justify;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s ease; 
    position: relative;
    right: 100px;
    top: -20px;
}

nav a:hover {
    background-color: #0056b3;
}

nav a::after {
    content: "\2190"; 
    margin-left: 5px;
}

nav a:hover::after {
    animation: arrowBounce 0.5s infinite alternate; 
}

@keyframes arrowBounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-3px);
    }
}
